{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.css' | asset_url | stylesheet_tag }}
<div class="block-slideshow block-slideshow--layout--with-departments block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3">
        <div class="block-slideshow__body">
          <div class="owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(-3360px, 0px, 0px); transition: all 0.25s ease 0s; width: 5880px;">

                {% for block in section.blocks %}

                  <div class="owl-item cloned" style="width: 840px;">
                    <a class="block-slideshow__slide" href="#">
                      <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url({{ block.settings.slide_img | img_url: 'master' }})"></div>
                      <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url({{ block.settings.slide_img_mob | img_url: 'medium' }})"></div>

                      <div class="block-slideshow__slide-content">
                        {% if block.settings.slide_heading != blank %}
                          <div class="block-slideshow__slide-title">
                            {{ block.settings.slide_heading }}
                          </div>
                        {% endif %}
                        {% if block.settings.slide_text != blank %}
                          <div class="block-slideshow__slide-text">
                            {{ block.settings.slide_text }}
                          </div>
                        {% endif %}


                        <div class="block-slideshow__slide-button">
                          <span class="btn btn-primary btn-lg">

                            Shop Now

                          </span>
                        </div>
                      </div>
                    </a>
                  </div>
                {% endfor %}



                {% comment %} set default slides when no blocks {% endcomment %}
                {% if section.blocks.size == 0 %}
                  {% for i in (1..5) %}
                    <div class="owl-item cloned" style="width: 840px;">
                      <a class="block-slideshow__slide" href="#">
                        <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-{{ 'slide-2.jpg' | asset_url }} | asset_url }})"></div>
                        <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-i{{ 'slide-2-mobile.jpg' | asset_url }} | asset_url }} )"></div>
                        <div class="block-slideshow__slide-content">
                          <div class="block-slideshow__slide-title">Screwdrivers<br>Professional Tools - {{ i }}</div>
                          <div class="block-slideshow__slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis molestie.</div>
                          <div class="block-slideshow__slide-button">
                            <span class="btn btn-primary btn-lg">Shop Now</span>
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                {% endif %}


              </div>
            </div>
            <div class="owl-nav disabled">
              <button
                type="button"
                role="presentation"
                class="owl-prev">
                <span aria-label="Previous">‹</span>
              </button>
              <button
                type="button"
                role="presentation"
                class="owl-next">
                <span aria-label="Next">›</span>
              </button>
            </div>

            <div class="owl-dots">
              {% for i in (1..section.blocks.size) %}
                {% if section.blocks.size > 1 %}
                  <button role="button" class="owl-dot {% if forloop.first %}active{% endif %}">
                    <span></span>
                  </button>
                {% endif %}

              {% endfor %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Hero Slides",
    "settings": [

      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }


    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "text",
            "id": "slide_heading",
            "label": "Slide heading"
          }, {
            "type": "text",
            "id": "slide_text",
            "label": "Slide text"
          }, {
            "type": "image_picker",
            "id": "slide_img",
            "label": "Slide image Desktop"
          }, {
            "type": "image_picker",
            "id": "slide_img_mob",
            "label": "Slide image Mobile"
          }

        ]
      }
    ]

  }
{% endschema %}